:root{
    --pink: #DA1884;
    --orange: #FF671F;
    --brown: #653819;
    --grey: rgb(80, 80, 80);
    --text: #111;
}

::selection{
    background: var(--pink);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

p{
    font-weight: 300;
    color: var(--text);
    
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}
.logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 60px 0;
}

.logo a{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-decoration: none;
   
}

.logo img{
    width: 250px;
}

.logo span{
    background-color: var(--pink);
    padding: 0 10px;
    border: none;
    border-radius: 50px 0 100px 50px;
    margin-top: 10px;
    transition: .3s ease-in;
    color: #fff;
    font-size: 14px;
}


.wrapper {
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}

.wrapper .title{
    font-size: .8rem;
    font-weight: 100;
    color: var(--orange);
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
}

.wrapper .title h2{
    font-family: 'Fredoka One';
    letter-spacing: 2px;
}

.wrapper form{
    width: 100%;
}

.wrapper form .input_field{
    margin-bottom: 15px;
}

.wrapper form .input_field.col{
    display: flex;
    flex-direction: column;
    justify-content:left;

}


.wrapper form .input_field label{
    width: 200px;
    color: var(--grey);
    margin-right: 10px;
    font-size: .9rem;
    font-weight: 500;
    opacity: .7;
}



.wrapper form .input_field input{
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1px solid #111;
    padding: 0 5px 0 5px;
}

.wrapper form .input_field input:focus{
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.wrapper form .input_field.col label {
    width: 200px;
    color: var(--grey);
    margin-right: 10px;
    font-size: .9rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.wrapper form .input_field.col textarea{
    font-size: 1rem;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #111;
}

.wrapper form .input_field textarea:focus{
    outline: none;
    border-bottom: 2px solid var(--orange);
}

.wrapper form .input_field.col input{
    border-bottom: none;
}


.wrapper form .input_field.submit{
    position: relative;
    width: 100%;
    margin: 40px 0 10px 0;
    border: none;
    border-radius: 20px;
}

.wrapper form .input_field.submit input{
    position: relative;
    width: 70%;
    height: 30px;
    background-color: var(--orange);
    border: none;
    border-radius: 2px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Fredoka One';
    letter-spacing: 1px;
    cursor: pointer;
    transition: .5s ease;
    opacity: 1;
}

.wrapper form .input_field.submit input:hover{
    letter-spacing: 3px;
    opacity: .8;
}


