:root{
    --pink: #DA1884;
    --orange: #FF671F;
    --brown: #653819;
    --grey: rgb(80, 80, 80);
    --text: #111;
}

::selection{
    background: var(--pink);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p{
    font-weight: 300;
    color: var(--text)
}

.container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



/*================//header//==============*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: #e0e0e0;
    padding: 40px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10;
}

header .menu_section{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}


header .menu_section a img{
    width: 200px;
    height: 25px;
}

header .hamburger{
    background-color: transparent;
    color: var(--orange);
    border: none;
    font-size: 25px;
    cursor: pointer;
    display: none;
    transition: .5s linear;
}

header .hamburger:hover{
    color: var(--pink);
}

header .hamburger:focus{
    outline: none;
}



header .menu_section nav ul{
    display: flex;
}

header .menu_section nav ul li{
    list-style: none;
    margin-left: 30px;
    
}

header .menu_section nav ul li:first-child{
    margin-left: 0;
}

header .menu_section nav ul li a{
    text-decoration: none;
    color: var(--grey);
    font-family: 'Fredoka One';
    text-transform: uppercase;
    transition: .5s ease-in-out;
}

header .menu_section nav ul li a:after{
    content: '';
    height: 2px;
    background: var(--pink);
    border-radius: 5px;
    display: block;
    transition: .5s ease-in-out;
    opacity: 0;

}

header .menu_section nav ul li a:hover{
    color: var(--orange);
}

header .menu_section nav ul li a:hover::after{
    opacity: 1;
}


/*================//banner//==============*/

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.banner .banner_content{
    max-width: 980px;
    text-align: center;
}

.banner .banner_content h2{
    font-family: 'Fredoka One';
    font-size: 4.5rem;
    color: #fff;
    letter-spacing: 5px;
}

.banner .banner_content p{
    font-size: 1rem;
    margin-top: 5px;
    color: #fff;
}

.banner .btn{
    font-size: 1rem;
    color: #fff;
    background-color: var(--pink);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 100px;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    border-radius: 20px;
    transition: .4s;
    letter-spacing: 1px;
    text-decoration: none;
}

.banner .btn:hover{
    letter-spacing: 4px;
    
}

/*================//menu//==============*/

.menu {
    display: flex;
    background-color: #e0e0e0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0;
}

.menu_title{
    max-width: 980px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu_title h2{
    color: var(--orange);
    font-size: 3rem;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
}

.menu_title h2 span{
    color: var(--pink);
}

.menu_title p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.menu .menu_content {
    max-width: 1080px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 40px 0;
}

.menu .menu_box{
    width: 300px;
    height: auto;
    margin: 20px 0;    
    transition: .6s;
}


.menu_box .img_box{
    position: relative;
    width: 100%;
    height: 300px;

}

.menu_box .img_box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: .5s ease;
}


.menu_box .item_text{
    display: flex;
    justify-content: center;
    color: var(--brown);
}

.menu_box .item_text h3{
    font-family: 'Fredoka One';
    text-transform: uppercase;
    transition: .7s ease;
    font-size: 1.1rem;

}

.menu_box:hover .img_box img,
.menu_box:hover .item_text h3{
    transform: scale(1.03);
    color: var(--pink);
}


.btn_menu{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_menu .btn{
    font-size: 1rem;
    color: #fff;
    background-color: var(--pink);
    display: inline-block;
    padding: 10px 30px;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    border-radius: 20px;
    transition: .4s;
    letter-spacing: 1px;
    text-decoration: none;
}

.btn_menu .btn:hover{
    color: var(--orange);
    letter-spacing: 4px;
    
}

/*================//chefs//==============*/
.chefs {

    background-color: #e0e0e0;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 90px 0;
}

.chefs_title{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chefs_title h2{
    color: var(--orange);
    font-size: 3rem;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
}

.chefs_title h2 span{
    color: var(--pink);
}

.chefs_title p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.chefs_box{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.chefs_content {
    max-width: 1080px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}



.chefs_card{
    width: 340px;
    height: auto;
    background-color: #e4e4e4;
    border: 15px solid #e4e4e4;
    transition: .5s ease;
    border-radius: 5px;
}

.chefs_card:hover{
    transform: scale(1.02)
}


.chefs_card .chefs_img{
    position: relative;
    width: 100%;
    height: 300px;

}

.chefs_card .chefs_img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chefs_card .chefs_text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--brown);
}

.chefs_card .chefs_text h3{
    font-family: 'Fredoka One';
    text-transform: uppercase;
    letter-spacing: 1px;
}

.chefs_card .chefs_text h3 span{
    color: var(--pink);
}


.chefs_card .chefs_text p{
    opacity: 1;
    transition: 2.3s ease;
    margin-bottom: 80px;
}





/*================//delivery//==============*/


.delivery{
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    padding: 0 0 90px 0;
}

.delivery .delivery_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.delivery .delivery_title img{
    width: 450px;   
    margin-bottom: 50px;

}

.delivery .description_delivery {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    align-items: center;
    text-align: center;
}

.delivery .description_delivery h3{
    font-family: 'Fredoka One';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--grey);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.delivery .description_delivery p{
    color: #111;

}

.delivery .delivery_links{
    display: flex;
    justify-content: center;
    align-items: center;

}

.delivery .delivery_links img{
    width: 150px;
    margin: 0 30px;
    height: auto;
    transition: .5s ease;
}

.delivery .delivery_links img:hover{
    transform: scale(1.03);
}

/*================//depoimentos//==============*/

.depoimentos {
    width: 100%;
    height: auto;
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    position: relative;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.depoimentos_title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.depoimentos_title h2{
    font-size: 3rem;
    font-family: 'Fredoka One';
    letter-spacing: 2px;
    color: var(--orange);
}

.depoimentos_title h2 span{
    color: var(--pink);
}

.depoimentos_title p{
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.depoimentos_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.depoimentos_box{
    width: 340px;
    margin: 0 40px 60px 40px;
    padding: 40px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s linear;
    border-radius: 5px;
}

.depoimentos_box:hover{
    transform: scale(1.05)
}



.depoimentos_imgBox{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
}

.depoimentos_imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimentos_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimentos_box .depoimentos_text p{
    color: #111;
    margin-bottom: 20px;
    font-style: italic;
}

.depoimentos_box.box2 .depoimentos_text p{
    color: #111;
    font-style: italic;
}

.depoimentos_box .depoimentos_text h3{
    color: var(--pink);
    font-size: 1rem;
    font-family: 'Fredoka One';
    text-transform: uppercase;
}

.depoimentos_box .depoimentos_text img{
    width: 100px;
    margin-top: 10px;
}


/*================//footer//==============*/

footer{
    width: 100%;
    height: auto;
    background-color: #414446;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    overflow-x: hidden;
    
}

footer .sec{
    width: 25%;
    position: relative;
    margin: 30px 40px;
}

footer h4{
    position: relative;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

footer  h4:before{
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--orange);
}

footer p{
    color: #fff;
    opacity: .4;
    font-size: 14px;
}

footer .sobre ul{
    display: flex;
    justify-content: left;
    list-style: none;
}

footer .sobre ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    margin: 20px 20px 0 0;
    background: rgb(43, 43, 43);
    border-radius: 50%;
    transition: .6s linear;
    cursor: pointer;

}

footer .sobre ul li a{
    color: #fff;
    font-size: 1rem;
}

footer .sobre ul li:hover{
    background-color: var(--orange);
}


footer .links ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
    
}

footer .links ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer .links ul li a{
    color: #fff;
    opacity: .4;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
    transition: .5s ease;
}

footer .links ul li a:hover{
    opacity: 1;
    
}

footer .contatos ul{    
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style: none;
}

footer .contatos ul li{
    display: flex;
    margin-bottom: 15px;
}

footer .contatos ul li i{
    color:#fff;
    margin-right: 12px;
}

footer .contatos ul li a{
    text-decoration: none;
    color: #fff;
}
footer .contatos ul li p{
    transition: .5s ease;
}
footer .contatos ul li p:hover{
    opacity: 1;
}

footer .copyright{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373a3c;
    bottom: 0;
}


